.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #0d0d13;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
}

.navbar-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 834px;
  width: 100%;
  height: 100%;
}

.navbar-section {
  display: flex;
  height: 100%;
}

.navbar-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-weight: normal;
  color: #ececec;
}

.navbar-item:hover {
  color: #d6d6d6;
}

.navbar-item-text {
  margin-left: 5px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-hamburger-section {
  display: none;
}

.nav-content-hidden {
  display: flex;
}

.navbar-item.icon-menu {
  font-size: 22px;
}

@media screen and (max-width: 800px) {
  .navbar-content-section {
    position: absolute;
    flex-direction: column;
    background-color: #0d0d13;
    width: 100%;
    align-items: center;
    top: 50px;
    padding: 20px 0;
    height: auto;
  }

  .navbar-content-section .navbar-item {
    padding: 20px 0;
  }

  .navbar-hamburger-section {
    display: block;
    cursor: pointer;
  }

  .nav-content-hidden {
    display: none;
  }
}
